body, html {
	height: 100%;
	padding:0; margin:0

}
blockquote {
	margin: 20px 60px;
	font-family: Helvetica, sans-serif;
}

header {margin-bottom: 20px;}

/* ensures that your images stretch the width of their containers */
img { width: 100%; }

a { 
	text-decoration: none;
	 }

a:hover { color: #B17A7A; }

h1{
}

.grid {
	display: grid;
	grid-template-columns: repeat(13, 1fr);
	grid-template-rows: repeat(20, 1fr);	
	height:100vh;
	width: 100%;
	grid-gap: 5px;
    background:url(images/image.jpg);  

}

.item_1{
	grid-column:1 / 14;
	grid-row:1 / 9;
}

.item_2{
	grid-column:1 / 14;
	grid-row:4 / 9;
}

.item_3{
	grid-column:1 / 14;
	grid-row:1 / 9;
	background-image:   url('C:/Users/Sam/Documents/GitHub/des_342_homework_one/images/image.jpg');
	background-repeat: no-repeat;	
}

#banner_links li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
	float: right;
	cursor:pointer;  

}

button {
	border: 0;
	padding: 1rem 3rem;
	grid-column: 7 / 8;
	grid-row: 10 / 13;
	height: 100%;

}

.hide_button{
	display: none;
}

#success {
	font-size: 20pt;	
	background: lightgreen;
	cursor:pointer;  
}

@import url(//fonts.googleapis.com/css?family=Vibur);
html,body{
  height:100%
}
body {
  background: url('images/image.JPG')  center no-repeat;
  background-size:cover;
  margin:0
}
.logo {
  text-align: center;
  width: 65%;
  height: 250px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
   user-select: none;
}

.logo b{
  font: 400 19vh "Vibur";
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
}
.logo b span{
  animation: blink linear infinite 2s;
}
.logo b span:nth-of-type(2){
  animation: blink linear infinite 3s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {
    
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

