
body, html {
	height: 100%;
	padding:0; margin:0
}
blockquote {
	margin: 20px 60px;
	font-family: Helvetica, sans-serif;
}


/* ensures that your images stretch the width of their containers */
img { width: 100%; }

a { 
	text-decoration: none;
	 }

a:hover { color: #B17A7A; }

h1{
}

h2{
	font-family: 'Open Sans', sans-serif;
	font-size: 20pt;
	color: #ffe998;
}

.grid {
	display: grid;
	grid-template-columns: repeat(13, 1fr);
	grid-template-rows: repeat(20, 1fr);	
	height:100vh;
	width: 100%;
}

.item_1{
	grid-column:1 / 14;
	grid-row:1 / 4;
}

.item_2{
	grid-column:1 / 14;
	grid-row:4 / 9;
}

.item_3{
	grid-column:1 / 14;
	grid-row:1 / 12;
	z-index: -1;
	background-image:   url('css_images/image2.jpg');
	background-repeat: no-repeat;
	background-size:cover;	
}

.item_4{
	grid-column:1 / 14;
	grid-row:12 / 21;	
}

.item_5{
	grid-column:1 / 14;
	grid-row:12 / 21;
	z-index: -200;	
}


header video {
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -200;

}


.background_brick{
	background-image:   url('css_images/image2.jpg');
	background-repeat: no-repeat;
	background-size:cover;	
}

#banner_links li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
	float: right;
	cursor: url('css_images/eye.png'), auto;	
}

button {
	border: 0;
	padding: 1rem 3rem;
	grid-column: 7 / 8;
	grid-row: 15 / 18;
	height: 100%;

}

#item_6 {
	grid-column: 1 / 14;
	grid-row: 12 / 21;
	height: 100%;
	background-color: black;

}

@-webkit-keyframes button_animation {
	0% { width:200px; font-size: 20px; color: yellow; } 
	50% { width:340px; font-size: 50px; color: yellow; } 
	100% { width:200px; font-size: 70px; color: yellow; }
}
@keyframes button_animation {
	0% { width:200px; font-size: 20px; color: blue; } 
	50% { width:340px; font-size: 50px; color: yellow;} 
	100% { width:200px; font-size: 70px; color: blue; }
}

#success {
	font-family: 'Open Sans', sans-serif;
	cursor:pointer;
	-webkit-animation: button_animation linear .5s infinite;
	animation: button_animation linear .5s infinite;
  	background-color: rgba(0,0,0,0);
    outline: none !important;

}


.logo {
  text-align: center;
  width: 65%;
  height: 250px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
   user-select: none;
}

.logo b{
	font-family: 'Vibur', cursive;
	font-size: 15vh;
	color: #e4bc34;
	text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #d9bb52, 0 0 0.5em #d9bb52, 0 0 0.1em #d9bb52, 0 10px 3px #000;
	letter-spacing: 10px;
}
.logo b span{
  animation: blink linear infinite 2s;
}
.logo b span:nth-of-type(2){
  animation: blink linear infinite 3s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {
    
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}











/*Center the weird text*/
#weirdtext{
	max-width: 500px;
	display: block;
}

/*all spans have to be block or inline block to transform*/
#weirdtext span{
	display: inline-block;
}

/*Center the weird text*/
#weirdtexttwo{
	max-width: 500px;
	display: block;
}

/*all spans have to be block or inline block to transform*/
#weirdtexttwo span{
	display: inline-block;
}

/*Center the weird text*/
#weirdtextthree{
	max-width: 500px;
	display: block;
}

/*all spans have to be block or inline block to transform*/
#weirdtextthree span{
	display: inline-block;
}

/*When JS finds a space, it replaces it with a span with .space class*/
/*I did this so you can do stuff with the spaces if you want.*/
.space{
	width: 15px;
}


/*These classes are added to each letter/span using JS so they animate*/
.effect1{
	animation: zoom 6s linear infinite;
	-webkit-animation: zoom 6s linear infinite;
}
.effect2{
	animation: bounce 3s linear infinite;
	-webkit-animation: bounce 3s linear infinite;
}
.effect3{
	animation: squash 2s linear infinite;
	-webkit-animation: squash 2s linear infinite;	
}
.effect4{
	animation: rot 5s linear infinite;
	-webkit-animation: rot 5s linear infinite;
}
.effect5{
	animation: fade2 4s linear infinite;
	-webkit-animation: fade2 4s linear infinite;
}




/*Here's a bunch of animations*/

@keyframes zoom{
	0%{transform: scale(1);}
	50%{transform: scale(1.1);}
	100%{transform: scale(1);}
}
@-webkit-keyframes zoom{
	0%{-webkit-transform: scale(1);}
	50%{-webkit-transform: scale(1.1);}
	100%{-webkit-transform: scale(1);}
}

@keyframes bounce{
	0%{transform: translateY(0px);}
	50%{transform: translateY(1px);}
	100%{transform: translateY(0px);}
}
@-webkit-keyframes bounce{
	0%{-webkit-transform: translateY(0px);}
	50%{-webkit-transform: translateY(1px);}
	100%{-webkit-transform: translateY(0px);}
}

@keyframes squash{
	0%{transform:scale(1,1);}
	50%{transform:scale(1,1.2);}
	100%{transform:scale(1,1);}
}
@-webkit-keyframes squash{
	0%{-webkit-transform:scale(1,1);}
	50%{-webkit-transform:scale(1,1.2);}
	100%{-webkit-transform:scale(1,1);}
}

@keyframes rot{
	0%{transform: rotate(9deg);}
	50%{transform: rotate(-9deg);}
	100%{transform: rotate(9deg);}
}
@-webkit-keyframes rot{
	0%{-webkit-transform: rotate(9deg);}
	50%{-webkit-transform: rotate(-9deg);}
	100%{-webkit-transform: rotate(9deg);}
}

@keyframes fade2{
	0%{
		transform: scale(.8);
		opacity: .7;
	}
	50%{
		transform: scale(1);
		opacity: 1;
	}
	100%{
		transform: scale(.8);
		opacity: .7;
	}
}
@-webkit-keyframes fade2{
	0%{
		-webkit-transform: scale(.8);
		opacity: .7;
	}
	50%{
		-webkit-transform: scale(1);
		opacity: 1;
	}
	100%{
		-webkit-transform: scale(.8);
		opacity: .7;
	}
}
